@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin-left: 325px;
    background-color: rgb(230, 226, 226);
}
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.nav{
    background-color:black;
    text-align: center;
    max-width: 325px;
    flex: 1;
    position: fixed;
    left: 0;
    top:0;
    bottom: 0;
    padding: 20px 5px;
    transition: all 0.5s ease;
}
.nav div {
    margin: 40px 0;
}
.nav ul li {
    margin: 30px 0;
}
.logo h1 {
    color: #ffb300;
    font-weight: 500;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.nav ul li .active {
    color:  #ffb300;
}
.nav ul li a:hover {
    color: #878787cb;
}

.nav div i {
    margin: 12px 8px;
    color: #dcdcdc;
    font-size: 30px;
    padding: 2px 10px;
}

.social i:hover {
    transform: scale(1.2);
}

.center {
    max-width: 500px;
    flex: 1;
    margin-left: 130px;
}

.center .title {
    color: #ffa600;
    font-size: 30px;
    font-weight: 700;
}

.center .info {
    font-size: 16px;
    margin-bottom: 12px;
}

.center .button {
    color: black;
    font-weight: 500;
    background-color: #ffa600;
    padding: 7px 18px;
    border: none;
}

.center .button:hover {
    transform: scale(1.2);
}

.right-section img {
    width: 500px;
    flex: 1;
    margin-left: 40px;
}



